#navbar{
    display: flex;
    flex-direction: column;
    
}
#navbar ul li a{
    color: white;
    font-size: 0.9rem;
    margin: 4px 4px;
    padding: 3px 2px
}
#navbar::before{
    height: 180%;
}
.home{
    padding: 4px 16px;
    height: 359px;
}
.home::before{
    height: 386px;
    top: 145px;
}
.btn{
    padding: 2px 5px;
    font-size: 13px;
}
#services{
    display: flex;
    flex-direction: column;
}
.Brand-section{
    overflow: hidden;
}
.h-primary{
    font-size: 1.4rem;
}
.home p{
    font-size: 1rem;
}
.h-secondary{
    font-size: 1.4rem;
}
.Brand-section{
    height: 290px;
}
.brand_items{
    margin: 14px;
}
