html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
}
:root{
    --navbar-height: 59px;
}
#navbar {
    display: flex;
    height: 80px;
    align-items: center;
    position: relative;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
#logo
{
    margin: 5px 5px;
}
#logo img
{
    height: 65px;
    margin: 5px 5px;
}
#navbar ul{
    display: flex;
    font-size: 22px;
}
#navbar ul li{
    list-style: none;
}
#navbar ul li a{
    color: white;
    margin: 4px 10px;
    padding: 4px 8px;
    border-radius: 20px;
    text-decoration: none;
    font-family: 'Changa One', cursive;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}
.home{
    display: flex;
    flex-direction: column;
    height: 506px;
    padding: 4px 200px;
    justify-content: center;
    align-items: center;
}
.home::before{
    content: "";
    background: url(../img/bg2.jpg) no-repeat center center/cover;
    position: absolute;
    height: 514px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}
.home h1{
    color: rgb(0, 38, 255);
    font-family: 'Yeseva One', cursive;

}
.home p{
    font-size: 1.8rem;
    color: rgb(10, 189, 216);
    text-align: center;
    font-family: 'Kanit', sans-serif;
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 20px;
    font-size: 22px;
    cursor: pointer;
}
#services{
    display: flex;
    margin: 30px;
}
#services .box{
    border: 2px solid brown;
    margin: 4px 9px;
    padding: 34px;
    border-radius: 30px;
    background-color: white;
}
#services .box img{
    height: 160px;
    margin: auto;
    display: block;
    padding: 4px 4px;
}
.h-secondary{
    font-size: 2.3rem;
    padding: 20px;
    font-family: 'Yeseva One', cursive;
}
.h-primary{
    padding: 12px;
    font-size: 2.7rem;
    font-family: 'Yeseva One', cursive;
}
.center{
    text-align: center;
}
.Brand-section{
    position: relative;
    overflow: hidden;
}
.Brand-section::before{
    content: "";
    position: absolute;
    background-color: #a5acac;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    z-index: -1;
}
.brand{
    display: flex;
    justify-content: center;
    align-items: center;
}
.brand_items{
    margin: 64px;
    padding: 4px 4px;
    border: 2px solid black;
    background: #efe7e7;
    border-radius: 90px;
}
.brand img{
    height: 130px;
    border-radius: 25px;
    padding: 4px 4px;
    margin: 17px 17px;
}
.contact{
    position: relative;
}
.contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    z-index: -1;
    background-color: #aaaad6;
}
.contact-box form{
    width: 35%;
}
.contact-box input, .contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    font-size: 1.03rem;
    border-radius: 11px;
    font-family: 'Kanit', sans-serif;
}
.contact-box label{
    font-size: 1.05rem;
}
.format-button{
    display: flex; 
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.submit{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: rgb(138, 138, 154);
    color: white;
    margin: 0px;
    font-size: 22px;
    cursor: pointer;
    border-radius: 12px;
    width: 102.50%;
}
footer{
    background-color: black;
    color: white;
    padding: 9px 20px;
}
